.container {
	display: block;
	margin: 0 auto;
	max-width: 1260px;
	width: 100%;
}

.section-title {
	font-size: 24px;
	font-family: 'Consolas';
	line-height: 28px;
	font-weight: bold;
	position: relative;
	margin-bottom: 25px;
	
	&::before {
		position: absolute;
		left: -65px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.text {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

.consolas { font-family: 'Consolas'; }

.green { color: $green; }
.grey { color: $grey; }