@import 'src/scss/common/normalize';
@import 'src/scss/common/config';
@import 'src/scss/common/fonts';
@import 'src/scss/common/variables';
@import 'src/scss/common/components';

@import 'src/scss/sections/header';
@import 'src/scss/sections/info';
@import 'src/scss/sections/products';
@import 'src/scss/sections/gallery';
@import 'src/scss/sections/contact';
@import 'src/scss/sections/lead';



