.contact {
	display: flex;
	
	@media (max-width: 920px) {
		flex-wrap: wrap;
	}

	&__content {
		background-color: #140d4f;
		padding: 90px 180px 90px 90px;

		@media (max-width: 920px) {
			padding: 20px;
			width: 100%;
		}
	}

	&__social {
		display: flex;
		margin: 65px 70px 150px;

		@media (max-width: 920px) {
			margin: 20px 0;
		}
	}

	&__icon {
		align-items: center;
		display: flex;
		justify-content: center;
		border: 1.5px solid $green;
		border-radius: 100%;
		height: 50px;
		margin-right: 14px;
		width: 50px;
		transition: transform .3s ease-out;
		text-decoration: none;
		
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
		
		span {
			color: $green;
			font-size: 1.2em;
		}
	}

	&__form-wrapper {
		background-color: $green;
		background-image: url('./images/background-04.png');
		min-width: 600px;
		padding-top: 80px;
		
		@media (max-width: 1439px) {
			min-width: 550px;
		}

		@media (max-width: 920px) {
			width: 100%;
			min-width: initial;
			padding: 20px 0;
		}
	}

	&__form {
		background-color: #ffffff;
		border-radius: 5px;
		padding: 32px;
		max-width: 405px;
		transform: translateX(-100px);

		@media (max-width: 920px) {
			transform: initial;
			max-width: 90%;
			margin: 0 auto;
			display: block;
		}
	}
	
	&__form-fields {
		display: flex;
		flex-direction: column;
	}

	&__input {
		border: 1px solid #D1D1D1;
		border-radius: 2px;
		color: #A5A5A5;
		font-size: 14px;
		margin-bottom: 16px;
		padding: 10px 15px;
	}

	&__textarea {
		border: 1px solid #D1D1D1;
		border-radius: 2px;
		color: #A5A5A5;
		font-size: 14px;
		padding: 10px 15px;
		height: 200px;
		margin-bottom: 16px;
		resize: none;
	}

	&__submit {
		background: linear-gradient(263.06deg, #00FF99 2.17%, #93FFF8 108.08%);
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		color: #140D4F;
		padding: 14px;
		transition: transform .3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}
	
	.is-required.is-invalid {
		border: 2px solid #ff0000;
	}

	.section-title {
		margin-left: 70px;

		@media (max-width: 920px) {
			margin-left: 50px;
		}

		&::before {
			content: url('./images/ico-title-04.png');
			
			@media (max-width: 920px) {
				background-image: url('./images/ico-title-04.png');
				content: '';
			}
		}
	}

	.text {
		margin-left: 70px;

		@media (max-width: 920px) {
			margin-left: 0;
		}

		&.contact__feedback-text {
			margin-left: 0;
		}
	}
}