.gallery {
	background-color: #1E1E1E;
	padding: 103px 90px;

	@media (max-width: 920px) {
		padding: 50px 20px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		
		@media (max-width: 920px) {
			flex-wrap: wrap;
		}
	}

	.section-title {
		margin-left: 70px;
		&::before {
			content: url('./images/ico-title-02.png');

			@media (max-width: 920px) {
				content: '';
				background-image: url('./images/ico-title-02.png');
			}
		}
	}

	&__menu {
		@media (max-width: 920px) {
			text-align: center;
		}
	}

	&__section {
		display: none;

		&.is-actived {
			display: block;
		}
	}

	&__button {
		background: #000000;
		border-radius: 50px;
		border: none;
		color: #00FF99;
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		height: 44px;
		margin: 0 12px;
		transition: color .6s, background-color .6s ease;
		width: 184px;

		@media (max-width: 920px) {
			margin-bottom: 12px;
		}

		&.is-actived {
			background-color: #00FF99;
			color: #000000;
		}

		&:focus {
			border: 1px solid #00FF99;
			outline: none;
		}
	}
}

.publi {
	margin-top: 56px;

	&__cards {
		display: flex;
		justify-content: space-between;

		@media (max-width: 920px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__card {
		background: #FFFFFF;
		border-radius: 5px;
		height: 270px;
		width: 300px;
		overflow: hidden;
		
		@media (max-width: 1439px) {
			width: 280px;
			max-resolution: 0 10px;
		}

		@media (max-width: 920px) {
			margin-bottom: 12px;
		}
	}

	&__image-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 174px;
		width: 100%;
		overflow: hidden;

		a {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		img {
			height: auto;
			width: 200%;
		}
	}

	&__card-title {
		color: #3d3d3d;
		display: block;
		font-weight: bold;
		font-size: 16px;
		padding:24px 24px 0 24px;
		width: 100%;
		text-decoration: none;
	}
	
	&__card-author {
		color: rgba(61, 61, 61, 0.7);
		font-size: 12px;
		padding:24px 24px 0 24px;
		text-decoration: none;
	}

	&__button {
		align-items: center;
		background: #00FF99;
		border-radius: 5px;
		color: #140D4F;
		justify-content: center;
		display: flex;
		font-weight: bold;
		font-size: 16px;
		height: 44px;
		margin: 62px auto 0;
		text-decoration: none;
		transition: transform .4s ease-out;
		width: 216px;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.podcasts {
		margin-top: 56px;
		
		&__button {
		align-items: center;
		background: #00FF99;
		border-radius: 5px;
		color: #140D4F;
		justify-content: center;
		display: flex;
		font-weight: bold;
		font-size: 16px;
		height: 44px;
		margin: 62px auto 0;
		text-decoration: none;
		transition: transform .4s ease-out;
		width: 216px;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.events {
	margin-top: 50px;

	&__cards {
		display: flex;
		justify-content: space-between;

		@media (max-width: 920px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__card {
		cursor: pointer;
		height: 358px;
		margin: 0;
		position: relative;
		width: 405px;
		overflow: hidden;
		
		@media (max-width: 1439px) {
			width: 385px;
			max-resolution: 0 10px;
		}
	}

	&__card-image {
		width: 100%;
		height: auto;
		transition: transform .3s, filter .3s ease;

		&:hover {
			transform: scale(1.1);
			filter: contrast(0.6);
		}
	}

	&__card-title {
		color: #FFFFFF;
		font-family: Consolas;
		font-weight: bold;
		font-size: 24px;
		left: 0%;
		line-height: 28px;
		position: absolute;
		pointer-events: none;
		text-align: center;
		transform: translate(0, -50%);
		top: 50%;
		width: 100%;
	}
}

.modal {
	background-color: #ffffff;
	box-shadow: #000000;
	display: none;
	height: 540px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 840px;
	z-index: 2;
	
	
	@media (max-width: 920px) {
		width: 80%;
		height: 80%;
		flex-direction: column;
	}
	
	&.is-actived { display: flex; }

	&.lead {
		align-items: center;
		border-radius: 5px;

		.mb-28 { margin-bottom: 28px; }
	}

	&__image {
		width: 398px;

		@media (max-width: 920px) {
			display: none;
		}
		
		&.is-small {
			width: 464px;
			height: 350px;
			transform: translateX(-45px);
			margin-right: -45px;

			@media (max-width: 920px) {
				display: none;
				transform: 0;
				margin: -30px 0 20px -30px;
				max-width: 100%;
			}
		}
	}

	&__content {
		flex-grow: 1;
		padding: 32px;

		@media (max-width: 920px) {
			padding-top: 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
	}

	&__text {
		font-size: 16px;
		line-height: 22px;
		color: #3D3D3D;
	}

	&__form-title {
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		color: #3D3D3D;
	}

	&__form {
		form {
			padding: 0;
		}
	}

	&__close {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 15px;
		right: 5px;
		z-index: 3;
		width: 50px;
		height: 50px;

		svg, line {
			pointer-events: none;
		}
	}
}