.gallery {
	background-color: #1E1E1E;
	padding: 103px 90px;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	.section-title {
		margin-left: 70px;
		&::before {
			content: url('./images/ico-title-02.png');
		}
	}

	&__button {
		background: #000000;
		border-radius: 50px;
		border: none;
		color: #00FF99;
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		height: 44px;
		margin: 0 12px;
		transition: color .6s, background-color .6s ease;
		width: 184px;

		&.is-actived {
			background-color: #00FF99;
			color: #000000;
		}

		&:focus {
			border: 1px solid #00FF99;
			outline: none;
		}
	}
}

.publi {
	margin-top: 56px;

	&__cards {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		background: #FFFFFF;
		border-radius: 5px;
		height: 270px;
		width: 300px;
		overflow: hidden;
	}

	&__image-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 174px;
		width: 100%;
		overflow: hidden;

		a {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		img {
			height: auto;
			width: 200%;
		}
	}

	&__card-title {
		color: #3d3d3d;
		display: block;
		font-weight: bold;
		font-size: 16px;
		padding:24px 24px 0 24px;
		width: 100%;
		text-decoration: none;
	}
	
	&__card-author {
		color: rgba(61, 61, 61, 0.7);
		font-size: 12px;
		padding:24px 24px 0 24px;
		text-decoration: none;
	}

	&__button {
		align-items: center;
		background: #00FF99;
		border-radius: 5px;
		color: #140D4F;
		justify-content: center;
		display: flex;
		font-weight: bold;
		font-size: 16px;
		height: 44px;
		margin: 62px auto 0;
		text-decoration: none;
		transition: transform .4s ease-out;
		width: 216px;

		&:hover {
			transform: scale(1.1);
		}
	}
}