.info {
	display: flex;
	
	@media (max-width: 920px) {
	  flex-wrap: wrap;
	}

	&__card {
		width: 50%;
		padding: 108px 90px 96px;

		@media (max-width: 920px) {
			width: 100%;
			padding: 40px 20px;
		}

		.section-title {
			margin-left: 90px;

			@media (max-width: 920px) {
				margin-left: 50px;
			}
		}

		.text {
			padding-left: 90px;

			@media (max-width: 920px) {
				padding: 0;
			}
		}
	}
}

.is-green {
	background-color: $green;

	.section-title {
		&::before {
			content: url('./images/ico-title-01.png');
			
			@media (max-width: 920px) {
				background-image: url('./images/ico-title-01.png');
				content: '';
			}
		}
	}
}

.is-grey {
	background-color: #1E1E1E;
	position: relative;

	&::after,
	&::before {
		position: absolute;
		left: 0%;
		transform: translateX(-50%);

		@media (max-width: 920px) {
			left: 50%;
			transform: translateX(-60%);
		}
	}
	
	&::after {
		content: url('./images/divider-02.png');
		bottom: -63px;
	}

	&::before {
		content: url('./images/divider-01.png');
		top: -49px;
	}

	.section-title {
		&::before {
			content: url('./images/ico-title-02.png');
			
			@media (max-width: 920px) {
				background-image: url('./images/ico-title-02.png');
				content: '';
			}
		}
	}
}